In [6]:
import pandas as pd
import numpy as np

In [2]:
data = pd.DataFrame((1,2,3,4,5))

In [3]:
data

   0
0  1
1  2
2  3
3  4
4  5

---

In [4]:
liste=[1,2,3,4,5,6,7,8,9] # liste oluşturdum.

In [5]:
pd.DataFrame(liste,columns=["Sütun1"]) # listeyi verisetine dönüştürdüm.

   Sütun1
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9

---

In [10]:
a = np.array((1,2,3,4,5,6,7,8,9)) #array ile dizi oluşturdum.
a

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [9]:
pd.DataFrame(a,columns=["Sütun"]) #array ile oluşturduğum diziyi verisetine dönüştürdüm.

   Sütun
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9

---

In [12]:
b=np.arange(1,16).reshape(5,3) #matris oluşturdum.
b

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15]])

In [13]:
pd.DataFrame(b,columns=["s1","s2","s3"]) #matrisi verisetine dönüştürdüm.

   s1  s2  s3
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12
4  13  14  15

---

In [16]:
c = pd.Series([1,2,3,4,5,6,7,8]) # pandas ile bir dizi seri oluşturdum.
c

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [18]:
pd.DataFrame(c,columns=["sütun"]) #pandas ile yaptığım dizi verisetine dönüştürdüm.

   sütun
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8

----

In [19]:
data1={
    "sütun1":{"satır1":1,"satır2":2,"satır3":3},
    "sütun2":{"satır1":4,"satır2":5,"satır3":6},
    "sütun3":{"satır1":7,"satır2":8,"satır3":9}
      }

In [20]:
data1

{'sütun1': {'satır1': 1, 'satır2': 2, 'satır3': 3},
 'sütun2': {'satır1': 4, 'satır2': 5, 'satır3': 6},
 'sütun3': {'satır1': 7, 'satır2': 8, 'satır3': 9}}

In [21]:
pd.DataFrame(data1)

        sütun1  sütun2  sütun3
satır1       1       4       7
satır2       2       5       8
satır3       3       6       9