In [1]:
import pandas as pd
import numpy as np

In [2]:
#değişken ismi = pandas.veri çerçevesi([veriler],sütunlar=["Alfabe" ya da Rakam],satır isimleri=["Alfabe" ya da Rakam])
data=pd.DataFrame([1,2,3,4],columns=["s1"],index=["a1","a2","a3","a4"])

In [3]:
data

    s1
a1   1
a2   2
a3   3
a4   4

In [4]:
data.columns #sütun başlıklarının ne olduğunu ve veri tipini gösterir.

Index(['s1'], dtype='object')

In [5]:
data.index #satırların isimlerini ve veri tipini gösterir.

Index(['a1', 'a2', 'a3', 'a4'], dtype='object')

In [6]:
data.columns=["veri"] #sütunun ismini değiştirdim.

In [7]:
data

    veri
a1     1
a2     2
a3     3
a4     4

In [9]:
data.index=["s1","s2","s3","s4"] #satırların(index) ismini değiştirdim.

In [10]:
data

    veri
s1     1
s2     2
s3     3
s4     4