In [1]:
import pandas as pd
import numpy as np

In [3]:
#değişken ismi={"sütun adı":{"satır adı":veri}}
data={
    "sütun1":{"satır1":1,"satır2":5,"satır3":9,"satır4":13,},
    "sütun2":{"satır1":2,"satır2":6,"satır3":10,"satır4":14,},
    "sütun3":{"satır1":3,"satır2":7,"satır3":11,"satır4":15,},
    "sütun4":{"satır1":4,"satır2":8,"satır3":12,"satır4":16,}
}
df = pd.DataFrame(data) #df değişkenine pandas ile datadaki verilerin dataframe komutu ile verisetini oluşturup attım.

In [4]:
df

        sütun1  sütun2  sütun3  sütun4
satır1       1       2       3       4
satır2       5       6       7       8
satır3       9      10      11      12
satır4      13      14      15      16

In [5]:
df["sütun1"] #df'deki verisetinin içindeki sütun1 isimli sütunu çağırdım.

satır1     1
satır2     5
satır3     9
satır4    13
Name: sütun1, dtype: int64

In [6]:
df.sütun1 #df'deki verisetinin içindeki sütun1 isimli sütunu çağırdım. Yukarıdaki kod ile aynı mantık.

satır1     1
satır2     5
satır3     9
satır4    13
Name: sütun1, dtype: int64

In [7]:
df[["sütun1","sütun2"]] #df'deki verisetinin içindeki birden çok sütunu çağırmak istersem iki tane köşeli parantez içinde sütun başlıklarını yazarım.

        sütun1  sütun2
satır1       1       2
satır2       5       6
satır3       9      10
satır4      13      14

In [9]:
df[["sütun1","sütun2","sütun4"]]

        sütun1  sütun2  sütun4
satır1       1       2       4
satır2       5       6       8
satır3       9      10      12
satır4      13      14      16

---

In [10]:
df

        sütun1  sütun2  sütun3  sütun4
satır1       1       2       3       4
satır2       5       6       7       8
satır3       9      10      11      12
satır4      13      14      15      16

In [11]:
df["sütun5"]=17,18,19,20 #yeni bir sütun ve veri ekledim.

In [12]:
df

        sütun1  sütun2  sütun3  sütun4  sütun5
satır1       1       2       3       4      17
satır2       5       6       7       8      18
satır3       9      10      11      12      19
satır4      13      14      15      16      20

In [13]:
df["sütun6"]=df["sütun1"]*df["sütun2"] #yeni bir sütun ve veri ekledim. Fakat veriyi sütun1 ve sütun2 deki verileri birbirine çarptırarak verdim.
df

        sütun1  sütun2  sütun3  sütun4  sütun5  sütun6
satır1       1       2       3       4      17       2
satır2       5       6       7       8      18      30
satır3       9      10      11      12      19      90
satır4      13      14      15      16      20     182