In [1]:
import pandas as pd
import numpy as np

In [2]:
#ARRAY İLE VERİLERİ PANDAS İLE VERİSETİNİ OLUŞTURDUM.
a = np.array([[7,np.nan,12],[np.nan,np.nan,5],[np.nan,15,9]])
data=pd.DataFrame(a,index=["satır1","satır2","satır3"],columns=["sütun1","sütun2","sütun3"])
data

        sütun1  sütun2  sütun3
satır1     7.0     NaN    12.0
satır2     NaN     NaN     5.0
satır3     NaN    15.0     9.0

In [3]:
data.fillna(value=0) #fillna ile verisetindeki boş verilere değer verebilirim.

        sütun1  sütun2  sütun3
satır1     7.0     0.0    12.0
satır2     0.0     0.0     5.0
satır3     0.0    15.0     9.0

In [4]:
data

        sütun1  sütun2  sütun3
satır1     7.0     NaN    12.0
satır2     NaN     NaN     5.0
satır3     NaN    15.0     9.0

In [5]:
data.sum() #tek sum() yazınca sadece satır satır toplar. Sütunları dahil etmez

sütun1     7.0
sütun2    15.0
sütun3    26.0
dtype: float64

In [6]:
data.sum().sum() #verisetindeki satırların ve sütunların toplamı

48.0

In [7]:
data.size #verisetinde kaç tane hücrenin olduğunu gösterir.

9

In [13]:
#boş hücreleri mantık bir şekilde doldurmak için şöyle bir yöntem kullandım.
#değişken adı = (verisetindeki bütün sayıları topla) daha sonra (verisetindeki toplam hücre sayısı ile boş olan hücrelerin sayısını çıkar) ve bu iki sonucu böl ve değişkene  at.
ort=(data.sum().sum())/(data.size-data.isnull().sum().sum())

In [15]:
data.fillna(value=ort)

        sütun1  sütun2  sütun3
satır1     7.0     9.6    12.0
satır2     9.6     9.6     5.0
satır3     9.6    15.0     9.0