In [1]:
import pandas as pd
import numpy as np

In [2]:
data1={
    "A":["A1","A2","A3","A4"],
    "B":["B1","B2","B3","B4"] 
      }
df1 =pd.DataFrame(data1)
df1

    A   B
0  A1  B1
1  A2  B2
2  A3  B3
3  A4  B4

In [5]:
data2={
    "C":["C1","C2","C3"],
    "D":["D1","D2","D3"] 
      }
df2 =pd.DataFrame(data2)
df2

    C   D
0  C1  D1
1  C2  D2
2  C3  D3

In [6]:
df1.join(df2) # join metodu kesişen kısmı birleştirir kesişmeyen kısımları nan döndürür.

    A   B    C    D
0  A1  B1   C1   D1
1  A2  B2   C2   D2
2  A3  B3   C3   D3
3  A4  B4  NaN  NaN