In [1]:
import pandas as pd
import numpy as np

In [2]:
df =pd.DataFrame({
    "Takım":["Galatasaray","Fenerbahçe","Fenerbahçe","Galatasaray","Beşiktaş"],
    "Maaş":[5000,3000,8000,6000,7000]
    })
df

         Takım  Maaş
0  Galatasaray  5000
1   Fenerbahçe  3000
2   Fenerbahçe  8000
3  Galatasaray  6000
4     Beşiktaş  7000

In [7]:
grup=df.groupby("Takım") #Verileri Takım isimlerine göre grupladı.
grup

In [8]:
grup.sum() #Grupların toplamı

              Maaş
Takım
Beşiktaş      7000
Fenerbahçe   11000
Galatasaray  11000

In [9]:
grup.mean() #Grupların ortalaması

               Maaş
Takım
Beşiktaş     7000.0
Fenerbahçe   5500.0
Galatasaray  5500.0

In [10]:
df.groupby("Takım").sum().loc["Galatasaray"] #sadece galatasarayda aldığı maaş toplamı

Maaş    11000
Name: Galatasaray, dtype: int64

In [11]:
grup.count() #hangi veriden kaç tane var

             Maaş
Takım
Beşiktaş        1
Fenerbahçe      2
Galatasaray     2

In [12]:
grup.min() #Takımlardaki aldığı en düşük maaş

             Maaş
Takım
Beşiktaş     7000
Fenerbahçe   3000
Galatasaray  5000