In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame({
    "sütun1":[1,2,3,4,5,6],
    "sütun2":[10,20,30,10,20,10],
    "sütun3":["ali","veli","ayşe","fatma","emre","büşra"]
})
df

   sütun1  sütun2 sütun3
0       1      10    ali
1       2      20   veli
2       3      30   ayşe
3       4      10  fatma
4       5      20   emre
5       6      10  büşra

In [6]:
df.head()

   sütun1  sütun2 sütun3
0       1      10    ali
1       2      20   veli
2       3      30   ayşe
3       4      10  fatma
4       5      20   emre

In [7]:
df["sütun2"].unique() #unique tekrar eden sayıları yazmadan sayıları gösterir.

array([10, 20, 30], dtype=int64)

In [8]:
df["sütun2"].nunique() #sayıları göstermeden sadece kaç farklı sayı olduğunu söyler.

3

In [10]:
df["sütun2"].value_counts() #hangi sayıdan kaç tane olduğunu gösterir.

sütun2
10    3
20    2
30    1
Name: count, dtype: int64

In [11]:
df["sütun3"].unique()

array(['ali', 'veli', 'ayşe', 'fatma', 'emre', 'büşra'], dtype=object)