In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    "Takımlar":["Galatasaray","Fenerbahçe","Beşiktaş","Galatasaray","Fenerbahçe","Beşiktaş"],
    "Attığı Goller":[188,192,176,194,190,189],
    "Yediği Goller":[70,76,68,82,70,60]
})
df

      Takımlar  Attığı Goller  Yediği Goller
0  Galatasaray            188             70
1   Fenerbahçe            192             76
2     Beşiktaş            176             68
3  Galatasaray            194             82
4   Fenerbahçe            190             70
5     Beşiktaş            189             60

In [4]:
df.groupby("Takımlar")

In [5]:
df.groupby("Takımlar").aggregate(["min",np.median,max])

C:\Users\gfbke\AppData\Local\Temp\ipykernel_8256\3267177250.py:1: FutureWarning: The provided callable <function median at 0x0000021718CD1E40> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df.groupby("Takımlar").aggregate(["min",np.median,max])
C:\Users\gfbke\AppData\Local\Temp\ipykernel_8256\3267177250.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby("Takımlar").aggregate(["min",np.median,max])

            Attığı Goller             Yediği Goller
                      min median  max           min median max
Takımlar
Beşiktaş              176  182.5  189            60   64.0  68
Fenerbahçe            190  191.0  192            70   73.0  76
Galatasaray           188  191.0  194            70   76.0  82