In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Series([1,2,3,4,5]) #köşeli parantez + normal parantez de olur.

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
pd.Series((1,2,3,4,5)) #normal parantez + normal parantez de olur.

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
seri = pd.Series(["Ankara","İstanbul","İzmir","Antalya","Bursa"])

In [5]:
seri

0      Ankara
1    İstanbul
2       İzmir
3     Antalya
4       Bursa
dtype: object

In [6]:
pd.Series((1.1,2,3,4,5)) #dizinin içinde bir tane float ifade olunca hepsine float olarak algılıyor.

0    1.1
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [7]:
sehir = pd.Series(["Ankara","İstanbul","İzmir","Antalya","Bursa",3,6,9])

In [8]:
sehir #dizinin içinde string ifade olunca sayıyıda object olarak tanımlıyor.

0      Ankara
1    İstanbul
2       İzmir
3     Antalya
4       Bursa
5           3
6           6
7           9
dtype: object

----

In [13]:
liste=[1,2,3,4,5,6,7]
seri1 = pd.Series(liste) # normalde iki tane parantez kullanılır fakat listenin kendi parantezi olduğu için tek parantez yeterli.

In [14]:
seri1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

----

In [15]:
a=np.arange(1,6) #Numpy ile oluşturulan diziyi
a

array([1, 2, 3, 4, 5])

In [16]:
seri2 = pd.Series(a) #Pandasa çevirerek ekrana yazdırdım.
seri2

0    1
1    2
2    3
3    4
4    5
dtype: int32