In [1]:
import pandas as pd
import numpy as np

In [2]:
seri1=pd.Series((10,20,30,40,50,60)) #seri1 isimli dizi oluşturdum.

In [3]:
seri1 #seri1 dizisini ekrana yazdırdım.

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [4]:
seri1>30 #seri1 dizisindeki 30 dan büyük verileri true küçük verileri ise false değerini döndürür.

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [6]:
seri1<30 #seri1 dizisindeki 30 dan küçük verileri true büyük verileri ise false değerini döndürür.

0     True
1     True
2    False
3    False
4    False
5    False
dtype: bool

In [7]:
seri1 == 30 #seri1 dizisindeki 30'a eşit olan verileri true eşit olmayan verileri ise false değerini döndürür.

0    False
1    False
2     True
3    False
4    False
5    False
dtype: bool

In [8]:
seri1[(seri1>15)&(seri1<45)] #seri1 dizisindeki 15'den büyük verileri ve 45'den küçük verileri ekrana yazdırır.

1    20
2    30
3    40
dtype: int64

---

In [9]:
seri2=pd.Series((1,2,3,4)) #seri2 isimli dizi tanımladım.

In [10]:
seri2 #diziyi yazdırdım.

0    1
1    2
2    3
3    4
dtype: int64

In [11]:
seri2+2 #dizinin her bir verisi 2 ile toplattım.

0    3
1    4
2    5
3    6
dtype: int64

In [12]:
seri2*5 #dizinin her bir verisi 5 ile çarpma işlemi yaptırdım.

0     5
1    10
2    15
3    20
dtype: int64

----

In [13]:
#seri3 dizisi tanımladım ve indekslerini string olarak değiştirdim.
seri3 =pd.Series([4,2,6,8,5],index=("elma","armut","üzüm","çilek","erik"))
#seri4 dizisi tanımladım ve indekslerini string olarak değiştirdim.
seri4 =pd.Series([5,6,1,3,7],index=("üzüm","elma","armut","erik","çilek"))

In [14]:
seri3

elma     4
armut    2
üzüm     6
çilek    8
erik     5
dtype: int64

In [15]:
seri4

üzüm     5
elma     6
armut    1
erik     3
çilek    7
dtype: int64

In [16]:
seri3 + seri4 #dizilerin aynı indekse sahip olan verileri toplattım.

armut     3
elma     10
erik      8
çilek    15
üzüm     11
dtype: int64

In [17]:
#seri5 dizisi tanımladım ve indekslerini string olarak değiştirdim.
seri5 =pd.Series([4,2,6,8,5],index=("elma","armut","üzüm","çilek","erik"))
#seri6 dizisi tanımladım ve indekslerini string olarak değiştirdim.
seri6 =pd.Series([5,6,1,3,7],index=("üzüm","elma","armut","erik","kayısı"))

In [18]:
seri5 + seri6 #dizilerin aynı indekse sahip olan verileri toplattım. Fakat Kayısı ile Çilek indeksine ait verileri NaN değerini döndürdü. Nedeni iki dizede de aynı indeks olmadığı için.

armut      3.0
elma      10.0
erik       8.0
kayısı     NaN
çilek      NaN
üzüm      11.0
dtype: float64

----

In [19]:
seri7 = pd.Series((1,2,3,4,5,6,7,8,9))

In [20]:
seri7

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [21]:
seri7.sum() #dizideki verileri toplattım.

45

In [22]:
seri7.max() #dizideki en büyük veriyi ekrana yazdırdım.

9

In [23]:
seri7.min() #dizideki en küçük veriyi ekrana yazdırdım.

1

In [24]:
seri7.median() #dizideki verilerin medyanını hesaplattım.

5.0

In [25]:
seri7.std() #dizinin standart sapmasını hesaplattım.

2.7386127875258306

In [27]:
seri7.mean() #dizideki verilerin ortalamasını aldırdım.

5.0