In [1]:
import pandas as pd
import numpy as np

In [10]:
data = pd.read_csv("C:/Users/gfbke/Desktop/Proje/Veri_Bilimine_Giris/Pandas/sehirler.csv")

In [11]:
data

    Şehirler
0      Adana
1   Adıyaman
2      Afyon
3       Ağrı
4     Amasya
..       ...
76    Yalova
77   Karabük
78     Kilis
79  Osmaniye
80     Düzce

[81 rows x 1 columns]

In [12]:
data.head()

   Şehirler
0     Adana
1  Adıyaman
2     Afyon
3      Ağrı
4    Amasya

In [13]:
data.tail()

    Şehirler
76    Yalova
77   Karabük
78     Kilis
79  Osmaniye
80     Düzce

In [23]:
len(data)

81

----

In [21]:
data2 = pd.read_csv("C:/Users/gfbke/Desktop/Proje/Veri_Bilimine_Giris/Pandas/sehirler2.csv",sep=";")

In [22]:
data2

   Plaka  Şehirler
0      1     Adana
1      2  Adıyaman
2      3     Afyon
3      4      Ağrı
4      5    Amasya
..   ...       ...
76    77    Yalova
77    78   Karabük
78    79     Kilis
79    80  Osmaniye
80    81     Düzce

[81 rows x 2 columns]