In [1]:
import pandas as pd
import numpy as np

In [9]:
dizi=pd.Series((1,2,3,4,5)) #dizi oluşturdum.
dizi

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
pd.DataFrame((1,2,3,4,5)) #veri seti oluşturdum.

   0
0  1
1  2
2  3
3  4
4  5

In [6]:
data=pd.DataFrame((1,2,3,4,5),columns=["Sütun"])

In [7]:
type(data)

pandas.core.frame.DataFrame

In [10]:
type(dizi)

pandas.core.series.Series

In [11]:
data.axes

[RangeIndex(start=0, stop=5, step=1), Index(['Sütun'], dtype='object')]

---

In [12]:
data2=pd.DataFrame((1,2,3,4,5),columns=["Sütun"],index=["a","b","c","d","e"])

In [13]:
data2

   Sütun
a      1
b      2
c      3
d      4
e      5

In [14]:
data2.ndim #veri setinin kaç boyutlu olduğunu söyler.

2

In [15]:
data.shape #5 satır 1 sütundan oluştuğunu söyler.

(5, 1)

In [16]:
data.size #veri setinin içinde kaç tane veri olduğunu söyler.

5